@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap%22);
body, a {
  color: black;
}

a:visited {
  color: black;
}

.navbar-topmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  background-color: #f7ede2;
}
.navbar-topmenu .logo {
  margin-left: 80px;
}
.navbar-topmenu .section-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.navbar-topmenu .section-one .company-fact {
  margin-left: 320px;
}
.navbar-topmenu .section-one .company-fact span {
  margin-right: 20px;
}
.navbar-topmenu .section-one .company-fact span i {
  margin-right: 10px;
}
.navbar-topmenu .section-one .media {
  display: flex;
  align-items: center;
}
.navbar-topmenu .section-one .media a {
  margin-right: 15px;
}
.navbar-topmenu .section-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.navbar-topmenu .section-two .links-topmenu {
  display: flex;
  justify-content: center;
  margin-left: 20%;
}
.navbar-topmenu .section-two .links-topmenu a {
  margin-right: 25px;
  text-decoration: none;
}
.navbar-topmenu .section-two .button-login {
  width: 120px;
  height: 40px;
  background-color: #fadc66;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  height: 780px;
}
.showcase-one .container {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.showcase-one .container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.showcase-one .container .content .first-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;
}
.showcase-one .container .content .info {
  margin-top: 10px;
  margin-bottom: 50px;
}
.showcase-one .container .content .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.showcase-one .container .content .buttons button {
  width: 180px;
  height: 40px;
  margin-right: 10px;
  border-radius: 30px;
}
.showcase-one .container .content .buttons button:first-child {
  background-color: #fadc66;
}
.showcase-one .container .content .buttons button:last-child {
  background-color: #f7ede2;
}
.showcase-one .container .showcase-image {
  width: 40%;
  height: auto;
  margin-right: 130px;
}

.company .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 38px;
}
.company .container .companyimg {
  width: 150px;
  height: auto;
}

.showcase-two {
  margin-top: 100px;
}
.showcase-two .container {
  display: flex;
  width: 1320px;
  height: 600px;
}
.showcase-two .container .second-title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}
.showcase-two .container .button-learnmore {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.showcase-two .container .button-learnmore .yellow-button {
  width: 300px;
  height: 40px;
  margin-right: 10px;
  border-radius: 30px;
  background-color: #fadc66;
}
.showcase-two .flex-container {
  display: flex;
  gap: 30px;
}
.showcase-two .flex-container > div {
  flex: 1;
}
.showcase-two .showcase-two-rightside {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.showcase-two .showcase-two-rightside .card-row {
  display: flex;
  gap: 100px;
  padding: 60px;
}
.showcase-two .showcase-two-rightside .card-body i {
  margin-bottom: 25px;
}

.about-company .container {
  width: 1320px;
  height: 615px;
  display: flex;
  justify-content: space-between;
}
.about-company .container .left-side {
  flex: 1;
  position: relative;
}
.about-company .container .left-side img {
  width: 533px;
  height: 615px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-company .container .left-side .blue-box {
  position: absolute;
  width: 340px;
  height: 150px;
  background-color: lightblue;
  top: 450px;
  left: -25px;
}
.about-company .container .left-side .blue-box h2 {
  margin: 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.about-company .container .left-side .blue-box h2 .title {
  color: #FF4500;
  font-size: 16px;
}
.about-company .container .left-side .blue-box p {
  padding: 10px 20px;
  margin: 0;
}
.about-company .container .right-side {
  flex: 1;
  padding: 20px 0;
}
.about-company .container .right-side h6 {
  color: #FF4500;
  margin-bottom: 20px;
}
.about-company .container .right-side h1 {
  font-weight: bold;
  margin-bottom: 50px;
}
.about-company .container .right-side .subtext p {
  margin-bottom: 250px;
}
.about-company .container .right-side button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.about-company .container .right-side button:hover {
  background-color: white;
  color: black;
}
.about-company .container .right-side button i.fa-solid.fa-arrow-up-right {
  margin-left: 10px;
}
.about-company .container .right-side .introvideo {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.about-company .container .right-side .introvideo i {
  margin-right: 30px;
}
.about-company .container .right-side .introvideo i.fa-regular.fa-circle-play {
  margin-left: 20px;
  font-size: 35px;
  transition: color 0.3s;
  vertical-align: middle;
}
.about-company .container .right-side .introvideo i.fa-regular.fa-circle-play:hover {
  color: #FF4500;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 100px;
}
.container .beige-box {
  width: 100%;
  height: 870px;
  background-color: beige;
  position: relative;
}
.container .beige-box .our-services {
  color: #FF4500;
  margin-left: 300px;
  margin-top: 50px;
}
.container .beige-box h1 {
  font-weight: bold;
  margin-left: 300px;
}
.container .beige-box .decorative-stripe {
  width: 50px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 20px;
}
.container .beige-box .content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1320px;
  height: 630px;
  margin: 100px auto;
}
.container .beige-box .content-box .tile {
  width: 308px;
  height: 333px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.container .beige-box .content-box .tile h6 {
  margin-top: 50px;
}
.container .beige-box .content-box .tile p {
  margin-bottom: 50px;
}
.container .beige-box .content-box .tile .circle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.container .beige-box .content-box .tile.white-tile {
  background-color: white;
}
.container .beige-box .content-box .tile.yellow-tile {
  background-color: #fadc66;
}
.container .beige-box .content-box .black-btn {
  background-color: black;
  color: white;
  border: none;
}
.container .beige-box .content-box .white-btn {
  background-color: white;
  color: black;
  border: none;
}
.container .beige-box .browse-btn {
  background-color: beige;
  border: 2px solid black;
  border-radius: 40px;
  padding: 10px 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.custom-section .container {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  height: 630px;
}
.custom-section .container .left-column {
  width: 30%;
  flex-direction: column;
}
.custom-section .container .left-column h6 {
  font-weight: normal;
  margin-bottom: 10px;
}
.custom-section .container .left-column .main-title {
  font-weight: bold;
  margin-bottom: 20px;
}
.custom-section .container .left-column .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.custom-section .container .left-column .cards .card {
  width: 450px;
  height: 630px/4;
  display: flex;
  align-items: center;
}
.custom-section .container .left-column .cards .card i {
  font-size: 24px;
  margin-right: 10px;
}
.custom-section .container .right-column {
  width: 70%;
  position: relative;
}
.custom-section .container .right-column .beige-box {
  width: 1057px;
  height: 425px;
  background-color: beige;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.custom-section .container .right-column .overlapping-image {
  width: 645px;
  height: 505px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}