@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap%22);
body, a {
  color: black;
}

a:visited {
  color: black;
}

.navbar-topmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #f7ede2;
}
.navbar-topmenu .section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.navbar-topmenu .section-one .company-fact {
  margin-left: 200px;
}
.navbar-topmenu .section-one .company-fact span {
  margin-right: 20px;
}
.navbar-topmenu .section-one .company-fact span i {
  margin-right: 10px;
}
.navbar-topmenu .section-one .logo {
  margin-left: 50px;
}
.navbar-topmenu .section-one .media {
  display: flex;
  align-items: center;
  align-self: center;
}
.navbar-topmenu .section-one .media a {
  margin-right: 15px;
}
.navbar-topmenu .section-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar-topmenu .section-two .links-topmenu {
  display: flex;
  justify-content: center;
  margin-left: 15%;
}
.navbar-topmenu .section-two .links-topmenu a {
  margin-right: 25px;
  text-decoration: none;
}
.navbar-topmenu .section-two .button-login {
  width: 120px;
  height: 40px;
  background-color: #fadc66;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-one {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f7ede2;
  height: 780px;
}
.showcase-one .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.showcase-one .container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.showcase-one .container .content .first-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;
}
.showcase-one .container .content .info {
  margin-top: 10px;
  margin-bottom: 50px;
}
.showcase-one .container .content .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.showcase-one .container .content .buttons button {
  width: 180px;
  height: 40px;
  margin-right: 10px;
  border-radius: 30px;
}
.showcase-one .container .content .buttons button:first-child {
  background-color: #fadc66;
}
.showcase-one .container .content .buttons button:last-child {
  background-color: #f7ede2;
}
.showcase-one .container .showcase-image {
  width: 50%;
  height: auto;
}

.company .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 38px;
}
.company .container .companyimg {
  width: 150px;
  height: auto;
}

.showcase-two {
  margin-top: 100px;
}
.showcase-two .container {
  display: flex;
  width: 1520px;
  height: 600px;
}
.showcase-two .container .showcase-two-leftside {
  margin-left: 40px;
}
.showcase-two .container .second-title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}
.showcase-two .container .button-learnmore {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.showcase-two .container .button-learnmore .yellow-button {
  width: 300px;
  height: 40px;
  margin-right: 10px;
  border-radius: 30px;
  background-color: #fadc66;
}
.showcase-two .flex-container {
  display: flex;
  gap: 30px;
}
.showcase-two .flex-container > div {
  flex: 1;
}
.showcase-two .showcase-two-rightside {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.showcase-two .showcase-two-rightside .card-row {
  display: flex;
  gap: 100px;
  padding: 60px;
}
.showcase-two .showcase-two-rightside .card-body i {
  margin-bottom: 25px;
}

.about-company .container {
  width: 1320px;
  height: 615px;
  display: flex;
  justify-content: space-between;
}
.about-company .container .left-side {
  flex: 1;
  position: relative;
}
.about-company .container .left-side img {
  width: 533px;
  height: 615px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-company .container .left-side .blue-box {
  position: absolute;
  width: 340px;
  height: 150px;
  background-color: lightblue;
  top: 450px;
  left: -25px;
}
.about-company .container .left-side .blue-box h2 {
  margin: 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.about-company .container .left-side .blue-box h2 .title {
  color: #FF4500;
  font-size: 16px;
}
.about-company .container .left-side .blue-box p {
  padding: 10px 20px;
  margin: 0;
}
.about-company .container .right-side {
  flex: 1;
  padding: 20px 0;
}
.about-company .container .right-side h6 {
  color: #FF4500;
  margin-bottom: 20px;
}
.about-company .container .right-side h1 {
  font-weight: bold;
  margin-bottom: 50px;
}
.about-company .container .right-side .subtext p {
  margin-bottom: 250px;
}
.about-company .container .right-side button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.about-company .container .right-side button:hover {
  background-color: white;
  color: black;
}
.about-company .container .right-side button i.fa-solid.fa-arrow-up-right {
  margin-left: 10px;
}
.about-company .container .right-side .introvideo {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.about-company .container .right-side .introvideo i {
  margin-right: 30px;
}
.about-company .container .right-side .introvideo i.fa-regular.fa-circle-play {
  margin-left: 20px;
  font-size: 35px;
  transition: color 0.3s;
  vertical-align: middle;
}
.about-company .container .right-side .introvideo i.fa-regular.fa-circle-play:hover {
  color: #FF4500;
}

/* 

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;

    .beige-box {
        width: 100%;
        height: 870px;
        background-color: beige;
        position: relative;

        .decorative-stripe {
            width: 50px;
            height: 5px;
            background-color: black;
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .content-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 1320px;
            height: 630px;
            margin: 100px auto;

            .tile {
                width: 308px;
                height: 333px;
                text-align: center;
                padding: 20px;
                box-sizing: border-box;
                position: relative;

                h6 {
                    margin-top: 50px;
                }

                p {
                    margin-bottom: 50px;
                }

                .circle-btn {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.white-tile {
                    background-color: white;
                }

                &.yellow-tile {
                    background-color: $light-yellow;
                }
            }

            .black-btn {
                background-color: black;
                color: white;
                border: none;
            }

            .white-btn {
                background-color: white;
                color: black;
                border: none;
            }
        }

        .browse-btn {
            background-color: beige;
            border: 2px solid black;
            border-radius: 20px;
            padding: 10px 20px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
} */