@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap);
body, a {
  color: black;
}

a:visited {
  color: black;
}

.navbar-topmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  background-color: beige;
}
.navbar-topmenu .logo {
  margin-left: 80px;
}
.navbar-topmenu .section-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.navbar-topmenu .section-one .company-fact {
  margin-left: 320px;
}
.navbar-topmenu .section-one .company-fact span {
  margin-right: 20px;
}
.navbar-topmenu .section-one .company-fact span i {
  margin-right: 10px;
}
.navbar-topmenu .section-one .media {
  display: flex;
  align-items: center;
}
.navbar-topmenu .section-one .media a {
  margin-right: 15px;
}
.navbar-topmenu .section-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.navbar-topmenu .section-two .links-topmenu {
  display: flex;
  justify-content: center;
  margin-left: 20%;
}
.navbar-topmenu .section-two .links-topmenu a {
  margin-right: 25px;
  text-decoration: none;
}
.navbar-topmenu .section-two .links-topmenu a:hover {
  text-transform: uppercase;
  color: #FF4500;
}
.navbar-topmenu .section-two .button-login {
  width: 120px;
  height: 40px;
  background-color: #F0D082;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}
.navbar-topmenu .section-two .button-login:hover {
  background-color: #000;
  color: white;
}
.navbar-topmenu .section-two .button-login i {
  margin-left: 5px;
}

.showcase-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  height: 780px;
}
.showcase-one .container {
  display: flex;
  height: 100%;
  width: 90%;
  justify-content: space-between;
}
.showcase-one .container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.showcase-one .container .content .first-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;
}
.showcase-one .container .content .info {
  margin-top: 10px;
  margin-bottom: 50px;
}
.showcase-one .container .content .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.showcase-one .container .content .buttons button {
  width: 180px;
  height: 40px;
  margin-right: 10px;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}
.showcase-one .container .content .buttons button i {
  margin-left: 5px;
}
.showcase-one .container .content .buttons button:first-child {
  background-color: #F0D082;
  border: none;
}
.showcase-one .container .content .buttons button:first-child:hover {
  background-color: #000;
  color: white;
}
.showcase-one .container .content .buttons button:last-child {
  background-color: beige;
}
.showcase-one .container .content .buttons button:last-child:hover {
  background-color: #000;
  color: white;
}
.showcase-one .container .showcase-image {
  width: 40%;
  height: auto;
  margin-right: 130px;
  margin-top: -20px;
}

.company .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 38px;
}
.company .container .companyimg {
  width: 150px;
  height: auto;
}

.showcase-two {
  margin-top: 100px;
}
.showcase-two .container {
  display: flex;
  width: 1320px;
  height: 600px;
}
.showcase-two .container .second-title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}
.showcase-two .container .button-learnmore {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.showcase-two .container .button-learnmore .yellow-button {
  width: 300px;
  height: 40px;
  margin-right: 10px;
  border-radius: 30px;
  background-color: #F0D082;
  transition: background-color 0.3s, color 0.3s;
  border: none;
}
.showcase-two .container .button-learnmore .yellow-button:hover {
  background-color: #000;
  color: white;
}
.showcase-two .container .button-learnmore .yellow-button i {
  margin-left: 5px;
}
.showcase-two .flex-container {
  display: flex;
  gap: 30px;
}
.showcase-two .flex-container > div {
  flex: 1;
}
.showcase-two .showcase-two-rightside {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.showcase-two .showcase-two-rightside .card-row {
  display: flex;
  gap: 100px;
  padding: 60px;
}
.showcase-two .showcase-two-rightside .card-body i {
  margin-bottom: 25px;
}

.about-company .container {
  width: 1320px;
  height: 615px;
  display: flex;
  justify-content: space-between;
}
.about-company .container .left-side {
  flex: 1;
  position: relative;
}
.about-company .container .left-side img {
  width: 533px;
  height: 615px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-company .container .left-side .blue-box {
  position: absolute;
  width: 340px;
  height: 150px;
  background-color: lightblue;
  top: 450px;
  left: -25px;
}
.about-company .container .left-side .blue-box h2 {
  margin: 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.about-company .container .left-side .blue-box h2 .title {
  color: #FF4500;
  font-size: 16px;
}
.about-company .container .left-side .blue-box p {
  padding: 10px 20px;
  margin: 0;
}
.about-company .container .right-side {
  flex: 1;
  padding: 20px 0;
}
.about-company .container .right-side h6 {
  color: #FF4500;
  margin-bottom: 20px;
}
.about-company .container .right-side h1 {
  font-weight: bold;
  margin-bottom: 50px;
}
.about-company .container .right-side .subtext p {
  margin-bottom: 250px;
}
.about-company .container .right-side button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.about-company .container .right-side button:hover {
  background-color: white;
  color: black;
}
.about-company .container .right-side button i.fa-solid.fa-arrow-up-right {
  margin-left: 10px;
}
.about-company .container .right-side .introvideo {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.about-company .container .right-side .introvideo i {
  margin-right: 30px;
}
.about-company .container .right-side .introvideo i.fa-regular.fa-circle-play {
  margin-left: 20px;
  font-size: 35px;
  transition: color 0.3s;
  vertical-align: middle;
}
.about-company .container .right-side .introvideo i.fa-regular.fa-circle-play:hover {
  color: #FF4500;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 100px;
}
.container .beige-box {
  width: 100%;
  height: 870px;
  background-color: beige;
  position: relative;
}
.container .beige-box .our-services {
  color: #FF4500;
  margin-left: 300px;
  margin-top: 50px;
}
.container .beige-box h1 {
  font-weight: bold;
  margin-left: 300px;
}
.container .beige-box .decorative-stripe {
  width: 50px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 20px;
}
.container .beige-box .content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1320px;
  height: 630px;
  margin: 100px auto;
}
.container .beige-box .content-box .tile {
  width: 308px;
  height: 333px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.container .beige-box .content-box .tile h6 {
  margin-top: 50px;
}
.container .beige-box .content-box .tile p {
  margin-bottom: 50px;
}
.container .beige-box .content-box .tile .circle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.container .beige-box .content-box .tile.white-tile {
  background-color: white;
}
.container .beige-box .content-box .tile.yellow-tile {
  background-color: #fadc66;
}
.container .beige-box .content-box .black-btn {
  background-color: black;
  color: white;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}
.container .beige-box .content-box .black-btn:hover {
  background-color: white;
  color: black;
}
.container .beige-box .content-box .white-btn {
  background-color: white;
  color: black;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}
.container .beige-box .content-box .white-btn:hover {
  background-color: #000;
  color: white;
}
.container .beige-box .browse-btn {
  background-color: beige;
  border: 2px solid black;
  border-radius: 40px;
  padding: 10px 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  transition: background-color 0.3s, color 0.3s;
}
.container .beige-box .browse-btn:hover {
  background-color: #000;
  color: white;
}
.container .beige-box .browse-btn i {
  margin-left: 10px;
}

.custom-section {
  padding: 50px 0;
}
.custom-section .container {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  height: 630px;
  gap: 30px;
}
.custom-section .container .left-column {
  width: 30%;
  padding-right: 15px;
}
.custom-section .container .left-column h6 {
  margin-bottom: 30px;
  color: #FF4500;
}
.custom-section .container .left-column .main-title {
  font-weight: bold;
  margin-bottom: 40px;
}
.custom-section .container .left-column .cards {
  display: flex;
  flex-direction: column;
}
.custom-section .container .left-column .cards h4 {
  margin-bottom: 15px;
  font-weight: bold;
}
.custom-section .container .left-column .cards h4 i {
  margin-right: 10px;
}
.custom-section .container .left-column .cards .under-text {
  margin-left: 35px;
}
.custom-section .container .left-column .cards .card {
  width: 330px;
  height: 157.5px;
  display: flex;
  align-items: start;
  border: none;
}
.custom-section .container .left-column .cards .card .icon-container i {
  font-size: 24px;
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 10px;
}
.custom-section .container .left-column .cards .card .text-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.custom-section .container .left-column .cards .card .text-container h1 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}
.custom-section .container .right-column {
  width: 60%;
  padding-left: 15px;
  position: relative;
}
.custom-section .container .right-column .beige-box {
  width: 1057px;
  height: 425px;
  background-color: beige;
  position: absolute;
  top: 330px;
  right: 0;
}
.custom-section .container .right-column .overlapping-image {
  width: 700px;
  height: 520px;
  position: absolute;
  top: 40px;
  left: 45%;
  transform: translateX(-50%);
}

.project-section .container {
  width: 1320px;
  height: 1400px;
  background-color: white;
}
.project-section .container h6 {
  color: #FF4500;
  z-index: 10;
  text-align: center;
  margin-top: 150px;
}
.project-section .container h1 {
  color: black;
  font-weight: bold;
  z-index: 10;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.project-section .container .cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.project-section .container .cards-container .card {
  position: relative;
  width: 645px;
  height: 445px;
  border: 1px solid lightgray;
}
.project-section .container .cards-container .card img {
  width: 645px;
  height: 300px;
}
.project-section .container .cards-container .card p {
  color: black;
  position: absolute;
  bottom: 50px;
  left: 20px;
}
.project-section .container .cards-container .card hr {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 90%;
}
.project-section .container .cards-container .card .read-more {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  text-decoration: none;
}
.project-section .container .cards-container .card .read-more i {
  margin-left: 10px;
}
.project-section .container .cards-container .card .read-more:hover {
  color: #FF4500;
}
.project-section .container .projects-btn {
  display: block;
  width: 238px;
  height: 56px;
  background-color: black;
  color: white;
  border-radius: 28px;
  text-align: center;
  line-height: 56px;
  margin: 100px auto 0;
  transition: background-color 0.3s, color 0.3s;
}
.project-section .container .projects-btn i {
  margin-left: 10px;
}
.project-section .container .projects-btn:hover {
  background-color: white;
  color: black;
}

.team-section {
  width: 1920;
  height: 1964px;
  background-color: #F0D082;
  padding: 50px 0;
  position: relative;
}
.team-section .carousel-slides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
  position: relative;
}
.team-section img {
  width: 308px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-section .header-container h6 {
  color: #FF4500;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-top: 100px;
}
.team-section .header-container h1 {
  margin-bottom: 20px;
  margin-left: 300px;
  font-weight: bold;
}
.team-section .header-container .browse-team-btn {
  background-color: #F0D082;
  border: 2px solid black;
  border-radius: 30px;
  color: black;
  padding: 10px 20px;
  transition: background-color 0.3s;
  display: inline-block;
  margin-left: 75%;
}
.team-section .header-container .browse-team-btn i {
  margin-left: 10px;
}
.team-section .header-container .browse-team-btn:hover {
  background-color: black;
  color: white;
}
.team-section .carousel-indicators {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 33%;
  bottom: -80px;
}
.team-section .carousel-indicators span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 0 5px;
  cursor: pointer;
}
.team-section .carousel-indicators span:hover, .team-section .carousel-indicators span.active {
  background-color: darkgrey;
}

.testimonial-container {
  width: 1520px;
  height: 800px;
  background-color: white;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial-container h6 {
  color: #FF4500;
  text-align: center;
  margin-top: 20px;
}
.testimonial-container h1 {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
.testimonial-container .testimonial-cards-container {
  display: flex;
  justify-content: space-between;
}
.testimonial-container .testimonial-cards-container .testimonial-card {
  width: 480px;
  height: 402px;
  background-color: white;
  border: none;
  padding: 20px;
}
.testimonial-container .testimonial-cards-container .testimonial-card .stars {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.testimonial-container .testimonial-cards-container .testimonial-card .stars i {
  font-size: 16px;
  color: #FF4500;
  margin-right: 5px;
}
.testimonial-container .testimonial-cards-container .testimonial-card .stars i:last-child {
  margin-right: 0;
}
.testimonial-container .testimonial-cards-container .testimonial-card .testimonial-text {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}
.testimonial-container .testimonial-cards-container .testimonial-card .client-info {
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.testimonial-container .testimonial-cards-container .testimonial-card .client-info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
}
.testimonial-container .testimonial-cards-container .testimonial-card .client-info div strong {
  font-weight: bold;
}
.testimonial-container .testimonial-cards-container .testimonial-card .client-info div p {
  color: #FF4500;
}
.testimonial-container .reviews-btn {
  display: block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 50px auto;
  border-radius: 30px;
  text-align: center;
  transition: background-color 0.3s;
}
.testimonial-container .reviews-btn i {
  margin-left: 10px;
}
.testimonial-container .reviews-btn:hover {
  background-color: white;
  color: black;
}

.wrapper-article {
  background-color: white;
  width: 1920px;
  height: 845px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-article {
  width: 1320px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-article .left {
  display: flex;
  flex-direction: column;
}
.header-article .left h6 {
  color: #FF4500;
  margin: 0;
}
.header-article .left h1 {
  font-weight: bold;
  margin: 5px 0;
}
.header-article .right button.button-article {
  width: 221px;
  height: 56px;
  background-color: white;
  color: black;
  border-radius: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.header-article .right button.button-article i {
  margin-left: 10px;
}
.header-article .right button.button-article:hover {
  background-color: black;
  color: white;
}

.carousel-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.carousel-article .card-article {
  flex: 0 0 auto;
  width: 420px;
  height: 428px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.carousel-article .card-article img {
  width: 420px;
  height: 230px;
}
.carousel-article .card-article h6 {
  font-weight: bold;
  margin: 5px 0;
}
.carousel-article .carousel-article-news {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 33%;
  bottom: -80px;
}
.carousel-article .carousel-article-news span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  margin: 0 5px;
  cursor: pointer;
}
.carousel-article .carousel-article-news span:hover, .carousel-article .carousel-article-news span.slides {
  background-color: black;
}

.signup-section {
  width: 1920px;
  height: 270px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-section .signup-container {
  width: 1270px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-section .signup-container h1 {
  font-weight: bold;
  margin: 0;
}
.signup-section .signup-container input[type=email] {
  width: 308px;
  height: 56px;
  border-radius: 28px;
  border: none;
  padding: 0 15px;
  background-color: white;
  color: lightgray;
  font-size: 16px;
}
.signup-section .signup-container input[type=email]:focus {
  outline: none;
  color: black;
}
.signup-section .signup-container .subscribe-btn {
  width: 171px;
  height: 56px;
  background-color: #F0D082;
  color: black;
  border: none;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -200px;
  transition: background-color 0.3s;
}
.signup-section .signup-container .subscribe-btn i {
  margin-left: 10px;
}
.signup-section .signup-container .subscribe-btn:hover {
  background-color: black;
  color: white;
}