@import './core/fonts';
@import './core/colors';



// Topmenu/bar

.navbar-topmenu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    padding-top: 30px;
    background-color: beige;

    .logo {
      
        margin-left: 80px; 
    }


    .section-one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%; 

        .company-fact {
            margin-left: 320px; 

            span {
                margin-right: 20px;

                i {
                    margin-right: 10px;
                }
            }
        }

     
        .media {
            display: flex;
            align-items: center;

            a {
                margin-right: 15px;
            }
        }
    }
    
    .section-two {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 90%; 

        .links-topmenu {
            display: flex;
            justify-content: center;
            margin-left: 20%; 

            a {
                margin-right: 25px;
                text-decoration: none;
            }
        }

        .button-login {
            width: 120px;
            height: 40px;
            background-color: $light-yellow;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.showcase-one {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: beige;
    height: 780px;

    .container {
        display: flex;
        height: 100%; 
        width: 90%; 
        justify-content: space-between;

        .content {
            display: flex;
            flex-direction: column; 
            align-items: flex-start;

            .first-title {
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 60px;
                font-weight: bold;
            }

            .info {
                margin-top: 10px;
                margin-bottom: 50px;
            }

            .buttons {
                display: flex;
                flex-direction: row; 
                margin-top: 70px;

                button {
                    width: 180px;
                    height: 40px;
                    margin-right: 10px;
                    border-radius: 30px;

                    &:first-child {
                        background-color: $light-yellow;
                    }

                    &:last-child {
                        background-color: beige;
                    }
                }
            }
        }

        .showcase-image {
            width: 40%; 
            height: auto;
            margin-right: 130px;
            margin-top: -20px;
        }
    }
}


// Third section - company info img

.company {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 38px;

        .companyimg {
            width: 150px;
            height: auto;
        }
    }
}



// Fourth section 

.showcase-two {
    margin-top: 100px;
    

    .container {
        display: flex;
        width: 1320px;
        height: 600px;
        

        .second-title {
            margin-top: 50px;
            margin-bottom: 10px;
            font-size: 40px;
            font-weight: bold;
        }


        .button-learnmore {
            display: flex;
            flex-direction: row; 
            margin-top: 70px;
            
            .yellow-button {
                width: 300px;
                height: 40px;
                margin-right: 10px;
                border-radius: 30px; 
                background-color: $light-yellow;
            }


        }
        
    }

    .flex-container {
        display: flex;
        gap: 30px;
    
        > div {
            flex: 1; // Varje direkt child till .flex-container tar upp lika mycket utrymme
        }
    }
    
    .showcase-two-rightside {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    
        .card-row {
            display: flex;
            gap: 100px; 
            padding: 60px;
        }
    
        .card-body i {
            margin-bottom: 25px; 
        }
    }
    
    
    
}

// About Company

.about-company {

    .container {
      width: 1320px;
      height: 615px;
      display: flex;
      justify-content: space-between;
    
  
        .left-side {
                    
            flex: 1;
            position: relative; 
    
            img {
            width: 533px;
            height: 615px;
            object-fit: cover; // För att behålla bildens förhållanden.
            }
    
            .blue-box {
            position: absolute;
            width: 340px;
            height: 150px;
            background-color: lightblue;
            top: 450px;
            left: -25px;
            
              h2 {
                  margin: 0; 
                  padding: 10px 20px;
                  font-size: 20px;
                  font-weight: bold;
                
                  color: #000; 
        
                    .title {
                        color: #FF4500; 
                        font-size: 16px;
                    } 

                }

                p {
                    padding: 10px 20px;
                    margin: 0;
                    
                }


            }
  
           
            
        }



        .right-side {

            flex: 1;
            padding: 20px 0; 
            
            h6 {
                color: #FF4500;
                margin-bottom: 20px; 
            }
        
            h1 {
                font-weight: bold;
                margin-bottom: 50px; 
            }
        
            .subtext {
                p {
                    margin-bottom: 250px; 
                }
            }
        
            button {
                background-color: black;
                color: white;
                border: none;
                border-radius: 25px;
                padding: 10px 20px;
                margin-bottom: 20px; 
                transition: background-color 0.3s, color 0.3s;
        
                &:hover {
                    background-color: white;
                    color: black;
                }
        
                i.fa-solid.fa-arrow-up-right {
                    margin-left: 10px;
                }
            }
        
            .introvideo {
                display: inline-block;
                position: relative;
                text-decoration: none; 
        
                i {
                   margin-right: 30px; 
                }
        
                i.fa-regular.fa-circle-play {
                    margin-left: 20px;   
                    font-size: 35px;          
                    transition: color 0.3s;  
                    vertical-align: middle;  
        
                    &:hover {
                        color: #FF4500;       
                    }
                }
            }
        }
        
        
        

    }
  
}

// Our Services 

.container {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 100px;


    .beige-box {
        width: 100%;
        height: 870px;
        background-color: beige;
        position: relative;
       
       
        .our-services {
            color: #FF4500;
            margin-left: 300px;
            margin-top: 50px;
    
        }

        h1{
            font-weight: bold;
            margin-left: 300px;
           
        }
       

        .decorative-stripe {
            width: 50px;
            height: 5px;
            background-color: black;
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .content-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 1320px;
            height: 630px;
            margin: 100px auto;
          

            .tile {
                width: 308px;
                height: 333px;
                text-align: center;
                padding: 20px;
                box-sizing: border-box;
                position: relative;

                h6 {
                    margin-top: 50px;
                }

                p {
                    margin-bottom: 50px;
                }

                .circle-btn {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                   
                }

                &.white-tile {
                    background-color: white;
                }

                &.yellow-tile {
                    background-color: $light-yellow;
                }
            }

            .black-btn {
                background-color: black;
                color: white;
                border: none;
            }

            .white-btn {
                background-color: white;
                color: black;
                border: none;
            }
        }

        .browse-btn {
            background-color: beige;
            border: 2px solid black;
            border-radius: 40px;
            padding: 10px 20px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
        }
    }
} 


//Why Choose Us

.custom-section {
    padding: 50px 0;

    .container {
        display: flex;
        justify-content: space-between;
        width: 1500px;
        height: 630px;
        gap: 30px; 
       

        .left-column {
            width: 30%;
            padding-right: 15px;
            

            h6 {
                margin-bottom: 30px;
                color: #FF4500;
            }


            .main-title {
                font-weight: bold;
                margin-bottom: 40px;
            }

            .cards {
                display: flex;
                flex-direction: column;
          
                h4 {
                    margin-bottom: 15px;
                    font-weight: bold;
    
                    i {
                        margin-right: 10px;
                    }
                }

                .under-text {
                    margin-left: 35px;
                }

                .card {
                    width: 330px;
                    height: calc(630px/4);
                    display: flex;
                    align-items: start; 
                    border: none;  

                    .icon-container {
                        
                    

                        i {
                            font-size: 24px;
                            border: 1px solid lightgray;
                            border-radius: 50%;
                            padding: 10px;
                        }
                    }

                    .text-container {
                        display: flex;
                        flex-direction: column;
                        margin-left: 30px;

                        h1 {
                            margin: 0;
                            margin-bottom: 10px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .right-column {
            width: 60%;
            padding-left: 15px;
            position: relative;

            .beige-box {
                width: 1057px;
                height: 425px;
                background-color: beige;
                position: absolute;
                top: 330px;
                right: 0;
                
            }

            .overlapping-image {
                width: 700px;
                height: 520px;
                position: absolute;
                top: 40px;
                left: 45%;
                transform: translateX(-50%);
            }
        }
    }
}

// Project and Cases

.project-section {
    
    .container {
      width: 1320px;
      height: 1400px;
      background-color: white;
  
      h6 {
        color: #FF4500;
        z-index: 10;
        text-align: center;
        margin-top: 150px;
      }
  
      h1 {
        color: black;
        font-weight: bold; 
        z-index: 10;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    
      }
  
      .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-content: center;
        align-items: center;
  
        .card {
          position: relative; 
          width: 645px;
          height: 445px;
          border: 1px solid lightgray;
  
          img {
            width: 645px;
            height: 300px;
          }
  
          p {
            color: black;
            position: absolute;
            bottom: 50px;
            left: 20px;
          }
  
          hr {
            position: absolute;
            bottom: 40px;
            left: 20px;
            width: 90%; // Anpassar bredden av hr till kortets bredd
          }
  
          .read-more {
            position: absolute; 
            bottom: 20px; 
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-weight: bold;
            text-decoration: none;
  
            i {
              margin-left: 10px;
            }
          }
        }
      }
  
      .projects-btn {
        display: block;
        width: 238px;
        height: 56px;
        background-color: black;
        color: white;
        border-radius: 28px;
        text-align: center;
        line-height: 56px;
        margin: 100px auto 0;
        transition: background-color 0.3s, color 0.3s;
  
        i {
          margin-left: 10px; 
        }
  
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
}
  
// Meet our team -----------------------------------------------------------------------------------------------

.team-section {
    width: 1920;
    height: 1964px;
    background-color: #F0D082;
    padding: 50px 0;
    position: relative;
   

    .carousel-slides {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 100px;

    }

    img {
        width: 308px;
        height: 420px;
        object-fit: cover;
    }

    .header-container {
        

        h6 {
            color: #FF4500;
            margin-bottom: 20px;
            margin-left: 300px;
        }

        h1 {
            margin-bottom: 20px;
            margin-left: 300px;
            font-weight: bold;
        }

        .browse-team-btn {
           
            background-color: #F0D082;
            border: 2px solid black;
            border-radius: 30px;
            color: black;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            display: inline-block; 
           

            i {
                margin-left: 10px;
            }

            &:hover {
                background-color: darken(#F0D082, 10%);
            }
        }
    }

    
        .carousel-indicators {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            width: 100%; 

            span {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: lightgray;
                margin: 0 5px;

                &.active {
                    background-color: darken(lightgray, 10%);
                }
            }
        }
    }

    .testimonial-container {
        width: 1520px;
        height: 800px;
        background-color: white;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        h6 {
            color: #FF4500;
            text-align: center;
            margin-top: 20px;
        }

        h1 {
            text-align: center;
            margin: 20px 0;
            font-weight: bold;
        }

        .testimonial-cards-container {
            display: flex;
            justify-content: space-between;
           

            .testimonial-card {
                width: 480px;
                height: 402px;
                background-color: white;
                border: none;
                padding: 20px;

                .stars {
                    display: flex;
                    justify-content: center;
                    margin: 20px 0;

                    i {
                        font-size: 16px;
                        color: #FF4500;
                        margin-right: 5px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .testimonial-text {
                    font-size: 16px;
                    margin-bottom: 20px;
                    text-align: center;
                }

                .client-info {
                    display: flex;
                    align-items: center;
                    margin-left: 60px;

                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        margin-right: 15px;
                    }

                    div {
                        strong {
                            font-weight: bold;
                        }

                        p {
                            color: #FF4500;
                        }
                    }
                }
            }
        }

        .reviews-btn {
            display: block;
            background-color: black;
            color: white;
            padding: 10px 20px;
            margin: 50px auto;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s;

            i {
                margin-left: 10px;
            }

            &:hover {
                background-color: darken(black, 10%);
            }
        }
    }




// Responsiv design

@media (max-width: 1200px) {
.team-cards-container .team-card, .testimonial-cards-container .testimonial-card {
    flex: 0 0 calc(33.33% - 20px);
}
}

@media (max-width: 768px) {
.team-cards-container .team-card, .testimonial-cards-container .testimonial-card {
    flex: 0 0 calc(50% - 20px);
}
}

@media (max-width: 480px) {
.team-cards-container .team-card, .testimonial-cards-container .testimonial-card {
    flex: 0 0 100%;
}
}

  

