@import './core/fonts';
@import './core/colors';



// Topmenu/bar------------------------------------------------------------------------------------------------------------------------------------------------

.navbar-topmenu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    padding-top: 30px;
    background-color: #F0EFE9;

    .logo {
      
        margin-left: 80px; 
    }


    .section-one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%; 

        .company-fact {
            margin-left: 320px; 

            span {
                margin-right: 20px;

                i {
                    margin-right: 10px;
                }
            }
        }

     
        .media {
            display: flex;
            align-items: center;

            a {
                margin-right: 15px;
            }
        }
    }
    //-------------------------------------------------------------------------------------------------
    .section-two {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 90%; 

        .links-topmenu {
            display: flex;
            justify-content: center;
            margin-left: 29%; 

            a {
                margin-right: 25px;
                text-decoration: none;

                &:hover {
                    text-transform: uppercase;
                    color: #FF4500; 
                     
                      
                }
            }

           
        }

        .button-login {
            width: 120px;
            height: 40px;
            background-color: #F0D082;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s, color 0.3s;
            text-decoration: none;

            &:hover {
                background-color: #000;
                color: white;
                 
            }

            i {
                margin-left: 5px;
            }

        }
    }
}



//Showcase one-----------------------------------------------------------------------------------------------------------------------------------------------------
.showcase-one {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #F0EFE9;
    height: 780px;
    position: relative;

    .container {
        display: flex;
        height: 100%; 
        width: 90%; 
        justify-content: space-between;

        .content {
            display: flex;
            flex-direction: column; 
            align-items: flex-start;

            .first-title {
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 60px;
                font-weight: bold;
            }

            .info {
                margin-top: 10px;
                margin-bottom: 50px;
            }

            .buttons {
                display: flex;
                flex-direction: row; 
                margin-top: 70px;

                button {
                    width: 180px;
                    height: 40px;
                    margin-right: 10px;
                    border-radius: 30px;
                    transition: background-color 0.3s, color 0.3s;

                    i {
                        margin-left: 5px;
                    }

                    &:first-child {
                        background-color: #F0D082;
                        border: none;
                        
                        &:hover {
                           background-color: #000;
                           color: white;
                            
                        }
                    }

                    &:last-child {
                        background-color: #F0EFE9;;

                        &:hover {
                            background-color: #000;
                            color: white;
                             
                        }
                    }
                }
            }
        }

        .showcase-image {
            width: 40%; 
            height: auto;
            margin-right: 130px;
            margin-top: -20px;
        }
    }

    .showcase-wave-image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: auto; 
        height: auto; 

        img {
            width: 100%;
            height: 100%;
        }
    }
}



// Third section - company info img------------------------------------------------------------------------------------------------------------

.company {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 38px;

        .companyimg {
            width: 150px;
            height: auto;
        }
    }
}



// Fourth section - Our Accounting ----------------------------------------------------------------------------------------------------------------

.showcase-two {
    margin-top: 100px;
    

    .container {
        display: flex;
        width: 1320px;
        height: 600px;
        

        .second-title {
            margin-top: 50px;
            margin-bottom: 10px;
            font-size: 40px;
            font-weight: bold;
        }


        .button-learnmore {
            display: flex;
            flex-direction: row; 
            margin-top: 70px;
            
            .yellow-button {
                width: 300px;
                height: 40px;
                margin-right: 10px;
                border-radius: 30px; 
                background-color: #F0D082;
                transition: background-color 0.3s, color 0.3s;
                border: none;

                &:hover {
                 background-color: #000;
                 color: white;
                 
                }

                i {
                    margin-left: 5px;
                }

            }


        }
        
    }

    .flex-container {
        display: flex;
        gap: 30px;
    
        > div {
            flex: 1; // Varje direkt child till .flex-container tar upp lika mycket utrymme
        }
    }
    
    .showcase-two-rightside {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    
        .card-row {
            display: flex;
            gap: 100px; 
            padding: 60px;
        }
    
        .card-body i {
            margin-bottom: 25px; 
        }
    }
    
    
    
}

// About Company--------------------------------------------------------------------------------------------------------------------------------------

.about-company {

    .container {
      width: 1320px;
      height: 615px;
      display: flex;
      justify-content: space-between;
    
  
        .left-side {
                    
            flex: 1;
            position: relative; 
    
            img {
            width: 533px;
            height: 615px;
            object-fit: cover; 
            }
    
            .blue-box {
            position: absolute;
            width: 340px;
            height: 150px;
            background-color: lightblue;
            top: 450px;
            left: -25px;
            
              h2 {
                  margin: 0; 
                  padding: 10px 20px;
                  font-size: 20px;
                  font-weight: bold;
                
                  color: #000; 
        
                    .title {
                        color: #FF4500; 
                        font-size: 16px;
                    } 

                }

                p {
                    padding: 10px 20px;
                    margin: 0;
                    
                }


            }
  
           
            
        }



        .right-side {

            flex: 1;
            padding: 20px 0; 
            
            h6 {
                color: #FF4500;
                margin-bottom: 20px; 
            }
        
            h1 {
                font-weight: bold;
                margin-bottom: 50px; 
            }
        
            .subtext {
                p {
                    margin-bottom: 250px; 
                }
            }
        
            button {
                background-color: black;
                color: white;
                border: none;
                border-radius: 25px;
                padding: 10px 20px;
                margin-bottom: 20px; 
                transition: background-color 0.3s, color 0.3s;
        
                &:hover {
                    background-color: white;
                    color: black;
                }
        
                i.fa-solid.fa-arrow-up-right {
                    margin-left: 10px;
                }
            }
        
            .introvideo {
                display: inline-block;
                position: relative;
                text-decoration: none; 
        
                i {
                   margin-right: 30px; 
                }
        
                i.fa-regular.fa-circle-play {
                    margin-left: 20px;   
                    font-size: 35px;          
                    transition: color 0.3s;  
                    vertical-align: middle;  
        
                    &:hover {
                        color: #FF4500;       
                    }
                }
            }
        }
        
        
        

    }
  
}



// Our Services ----------------------------------------------------------------------------------------------------------------

$light-yellow: #F0D082;

.beige-box {
    width: 100%;
    height: 870px;
    background-color: #F0EFE9;
    position: relative;
    margin-top: 100px;

    .container {
        max-width: 1920px;
        margin: 0 auto;
        margin-top: 100px;

        .our-services {
            color: #FF4500;
            margin-left: 270px;
            padding-top: 100px;
        }

        h1 {
            font-weight: bold;
            margin-left: 270px;
        }

        .content-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 1320px;
            height: 630px;
            margin: 100px auto;

            .tile {
                width: 308px;
                height: 333px;
                text-align: center;
                padding: 20px;
                box-sizing: border-box;
                position: relative;

                h6 {
                    margin-top: 50px;
                }

                p {
                    margin-bottom: 50px;
                }

                .decorative-stripe {
                    width: 50px;
                    height: 5px;
                    background-color: black;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                }

                .circle-btn {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                }

                &.white-tile {
                    background-color: white;
                }

                &.yellow-tile {
                    background-color: $light-yellow;
                }
            }

            .black-btn {
                background-color: black;
                color: white;
                border: none;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }

            .white-btn {
                background-color: white;
                color: black;
                border: none;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: #000;
                    color: white;
                }
            }
        }

        .browse-btn {
            background-color: #F0EFE9;
            border: 2px solid black;
            border-radius: 40px;
            padding: 10px 20px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: #000;
                color: white;
            }

            i {
                margin-left: 10px;
            }
        }
    }

    .image-our-services {
        position: absolute;
        bottom: 0;
        right: 0;
        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}



//Why Choose Us----------------------------------------------------------------------------------------------------

.custom-section {
    padding: 50px 0;

    .container {
        display: flex;
        justify-content: space-between;
        width: 1500px;
        height: 630px;
        gap: 20px; 
       

        .left-column {
            width: 28%;
            padding-right: 15px;
            

            h6 {
                margin-bottom: 30px;
                color: #FF4500;
            }


            .main-title {
                font-weight: bold;
                margin-bottom: 40px;
            }

            .cards {
                display: flex;
                flex-direction: column;
          
                h4 {
                    margin-bottom: 15px;
                    font-weight: bold;
    
                    i {
                        margin-right: 10px;
                    }
                }

                .under-text {
                    margin-left: 35px;
                }

                .card {
                    width: 330px;
                    height: calc(630px/4);
                    display: flex;
                    align-items: start; 
                    border: none;  

                    .icon-container {
                        
                    

                        i {
                            font-size: 24px;
                            border: 1px solid lightgray;
                            border-radius: 50%;
                            padding: 10px;
                        }
                    }

                    .text-container {
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;

                        h1 {
                            margin: 0;
                            margin-bottom: 10px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        //--------------------------------------------------------------------------------------------------
        .right-column {
            width: 30%;
            padding-left: 15px;
            position: relative;
            

            .beige-box {
                width: 1057px;
                height: 425px;
                background-color: #F0EFE9;
                position: absolute;
                top: 280px;
                left: 50%; 
                transform: translateX(-65%); //justerar den beiga bakgrunden vid behov av ändring i x-led
            }

            .overlapping-image {
                width: 700px;
                height: 520px;
                position: absolute;
                top: 50px;
                left: 33%;
                transform: translateX(-65%); //justerar överlappande bild vid behov av ändring i x-led
            }
        }
    }
}





// Project and Cases Studies-------------------------------------------------------------------------------------

.project-section {
    
    .container {
      width: 1320px;
      height: 1400px;
      background-color: white;
  
      h6 {
        color: #FF4500;
        z-index: 10;
        text-align: center;
        margin-top: 200px;
      }
  
      h1 {
        color: black;
        font-weight: bold; 
        z-index: 10;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    
      }
  
      .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-content: center;
        align-items: center;
  
        .card {
          position: relative; 
          width: 645px;
          height: 445px;
          border: 1px solid lightgray;
  
          img {
            width: 645px;
            height: 300px;
          }
  
          p {
            color: black;
            position: absolute;
            bottom: 50px;
            left: 20px;
          }
  
          hr {
            position: absolute;
            bottom: 40px;
            left: 20px;
            width: 90%; 
          }
  
          .read-more {
            position: absolute; 
            bottom: 20px; 
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-weight: bold;
            text-decoration: none;
  
            i {
              margin-left: 10px;
            }

            &:hover {
                color: #FF4500;
                
            }

            
          }
        }
      }
  
      .projects-btn {
        display: block;
        width: 238px;
        height: 56px;
        background-color: black;
        color: white;
        border-radius: 28px;
        text-align: center;
        line-height: 56px;
        margin: 100px auto 0;
        transition: background-color 0.3s, color 0.3s;
  
        i {
          margin-left: 10px; 
        }
  
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
}
  
// Meet our team -----------------------------------------------------------------------------------------------

.team-section {
   
    width: 1920px;
    height: 1964px;
    background-color: #F0D082;
    padding: 50px 0;
    position: relative;
   

    .carousel-slides {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 100px;
        position: relative; 

    }

    img {
        width: 308px;
        height: 420px;
        object-fit: cover;
    }

    .header-container {
       

        h6 {
            color: #FF4500;
            margin-bottom: 20px;
            margin-left: 300px;
            margin-top: 100px;
        }

        h1 {
            margin-bottom: 20px;
            margin-left: 300px;
            font-weight: bold;
            
            
          
        }

        .browse-team-btn {
           
            background-color: #F0D082;
            border: 2px solid black;
            border-radius: 30px;
            color: black;
            padding: 10px 20px;
            transition: background-color 0.3s;
            display: inline-block; 
            margin-left: 75%;
          
           
           

            i {
                margin-left: 10px;
            }

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    
    .carousel-indicators {

        width: fit-content;
        position: absolute;
        left: 33%; 
        bottom: -80px; 
        
        
        span {
            display: inline-block; 
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: lightgray;
            margin: 0 5px;
            cursor: pointer; 
    
            &:hover, 
            &.active {
                background-color: black;
            }
        }
    }

    
    }

    .testimonial-container {
        width: 1520px;
        height: 800px;
        background-color: white;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        h6 {
            color: #FF4500;
            text-align: center;
            margin-top: 20px;
        }

        h1 {
            text-align: center;
            margin: 20px 0;
            font-weight: bold;
        }

        .testimonial-cards-container {
            display: flex;
            justify-content: space-between;
           

            .testimonial-card {
                width: 480px;
                height: 402px;
                background-color: white;
                border: none;
                padding: 20px;

                .stars {
                    display: flex;
                    justify-content: center;
                    margin: 20px 0;

                    i {
                        font-size: 16px;
                        color: #FF4500;
                        margin-right: 5px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .testimonial-text {
                    font-size: 16px;
                    margin-bottom: 20px;
                    text-align: center;
                }

                .client-info {
                    display: flex;
                    align-items: center;
                    margin-left: 60px;

                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        margin-right: 15px;
                    }

                    div {
                        strong {
                            font-weight: bold;
                        }

                        p {
                            color: #FF4500;
                        }
                    }
                }
            }
        }

        .reviews-btn {
            display: block;
            background-color: black;
            color: white;
            padding: 10px 20px;
            margin: 50px auto;
            border-radius: 30px;
            text-align: center;
            transition: background-color 0.3s;

            i {
                margin-left: 10px;
            }

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }





//Article and News----------------------------------------------------------------------------------------------

.wrapper-article {
    background-color: white;
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.container-article {
    width: 1320px;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    .left {
        display: flex;
        flex-direction: column;

        h6 {
            color: #FF4500;
            margin: 0;
        }

        h1 {
            font-weight: bold;
            margin: 5px 0;
        }
    }

    .right {
        button.button-article {
            width: 221px;
            height: 56px;
            background-color: white;
            color: black;
            border-radius: 28px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;

            i {
                margin-left: 10px;
            }

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

.carousel-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px; // Lade till marginal för att ge utrymme mellan header och karusell

    .carousel-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; // Gav lite mer utrymme för paginering
    }

    .card-article {
        flex: 0 0 auto;
        width: 420px;
        height: 428px;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        img {
            width: 420px;
            height: 230px;
        }

        h6 {
            font-weight: bold;
            margin: 5px 0;
        }
    }

    .carousel-article-news {
        width: fit-content;
        display: flex;
        justify-content: center;
        margin-top: 5px; // Justerade margin för att undvika att den överlappar med karusellen
        
        span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: grey;
            margin: 0 5px;
            margin-bottom: 60px;
            cursor: pointer;

            &:hover, 
            &.active-slide {
                background-color: black;
            }
        }
    }
}


// Subscribe --------------------------------------------------------------------------------------------------------

.signup-section {
    width: 1920px;
    height: 270px;
    background-color: #F0EFE9;
    display: flex;
    justify-content: center;
    align-items: center;

    .signup-container {
        width: 1270px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-weight: bold;
            margin: 0;
        }

        input[type="email"] {
            width: 308px;
            height: 56px;
            border-radius: 28px;
            border: none;
            padding: 0 15px;
            background-color: white;
            color: lightgray;
            font-size: 16px;

            &:focus {
                outline: none;
                color: black;
            }
        }

        .subscribe-btn {
            width: 171px;
            height: 56px;
            background-color: #F0D082; 
            color: black;
            border: none;
            border-radius: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -200px;
            transition: background-color 0.3s;

            i {
                margin-left: 10px;
            }

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

// footer ---------------------------------------------------------------------------------------------------------------
footer {
    background-color: black;
    max-width: 1920px;
    height: 513px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    

    .background-lines-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .container {
        max-width: 1370px;
        height: 220px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 20px;
        margin-top: 100px;

        .logo-footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            img {
                margin-bottom: 10px;
            }

            p {
                font-weight: normal;
                margin-bottom: 10px;
            }
        }

        div {
            flex: 1;
            min-width: 200px;

            h5 {
                font-weight: bold;
                margin-bottom: 10px;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    margin-bottom: 5px;

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .end-footer {
        width: 1370px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid gray;
        padding: 20px;
        box-sizing: border-box;

        .end-footer-text {
            font-weight: normal;
        }

        .social-media {
            display: flex;
            gap: 10px;

            a {
                color: white;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}


//---------------------------------------------------- Contact Page --------------------------------------------------------------------------------------

.showcase-contact {
    width: 1920px;
    height: 300px;
    background-color: #F0EFE9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
    .container {
      width: 366px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  
      .links-contact {
        display: flex;
        justify-content: center;
        gap: 10px;
  
        a {
          color: black;
          text-decoration: none;
          transition: color 0.3s;
  
          &:hover {
            color:#FF4500;
          }
        }
      }
  
      h1 {
        color: black;
        font-weight: bold;
        margin: 10px 0;
      }
    }
  
    .showcase-image-wayvy-lines {
      position: absolute;
      bottom: 0;
      left: 0;
  
      img {
        width: auto;
        height: auto;
      }
    }
  }
  